/* helpers */
.size(@w, @h) {
    width: @w;
    height: @h;
}


.loop(@counter, @delay) when (@counter >= 0) {
  .loop((@counter - 1), @delay);    // next iteration
  
  .transition-@{counter} .front, { transition-delay: (@delay * @counter); }
  .transition-@{counter} .back { transition-delay: (@delay * @counter); }
}

/* vars */
@wallsCount: 15;

* {
    margin: 0;
    padding: 0;
}
html, body {
    .size(100%, 100%);
}
img {
    max-width: 100%;
}
#wrapper {
    // width: 970px;
    // height: 250px;
    .size(100%, 100%);
    position: relative;
    cursor: pointer;
}
.flip-container {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 500px;
    position: absolute;
    top: 0;
    left: 0;
}
.flip .back {
    transform: rotateY(0deg);
}
.flip .front {
    transform: rotateY(180deg);
}
.flipper {
    position: relative;
    .size(100%, 100%);
}
.loop(@wallsCount, 0.1s);

.front, .back {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition-duration: 1.2s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    .size(100%, 100%);
}
.front {
    z-index: 2;
    transform: rotateY(0deg);
}
.back {
    transform: rotateY(180deg);
}
.bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Fallback slider */
.slide {
    position: absolute;
    top: 0;
    left: 0;
    .size(100%, 100%);
    visibility: hidden;

    &.active {
        visibility: visible;
    }
}